html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #7da7d9; color:#fff; text-shadow: none; }
::selection { background:#7da7d9; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */
















/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; -webkit-filter:none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

html,
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: #778089;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button,
input {
  border: 1px solid;
  outline: none;
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: table;
  width: 100%;
  background: url('../img/nomobile/noise.png') repeat scroll;
}
#outer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
#outer #inner {
  margin: 0px auto;
  max-width: 660px;
  width: 66%;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
#outer #inner #content {
  position: relative;
  float: left;
  width: 100%;
  max-width: 660px;
  background: url('../img/nomobile/shadow.png') no-repeat center bottom;
  padding: 0 0 3px 0;
}
#outer #inner #content #wrapper {
  float: left;
  position: relative;
  width: 100%;
  max-width: 660px;
  background: #fff;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #C8C8C8;
  overflow: hidden;
}
#outer #inner #content #wrapper .upper {
  float: left;
  width: 80%;
  text-align: center;
  background: url('../img/nomobile/division.jpg') no-repeat center bottom;
  background-size: 100%;
  padding: 6.818% 10%;
}
#outer #inner #content #wrapper .upper h1 {
  font-size: 1.75em;
  line-height: 1.5em;
  letter-spacing: -1px;
  font-weight: 500;
  color: #313131;
  text-shadow: 0 1px #fff;
  margin-bottom: 15px;
}
#outer #inner #content #wrapper .upper p {
  line-height: 1.5em;
}
#outer #inner #content #wrapper .upper p a,
#outer #inner #content #wrapper .lower p a{
  font-weight: bold;
  color: #539ce7;
}
#outer #inner #content #wrapper .upper p a:hover {
  text-decoration: underline;
}
#outer #inner #content #wrapper .lower {
  width: 100%;
  background: url('../img/nomobile/shadow-btm.jpg') no-repeat center bottom;
  background-size: 100%;
  overflow: hidden;
  float: left;
}
#outer #inner #content #wrapper .lower .credit {
  float: left;
  max-width: 190px;
  width: 28.788%;
  margin: 7.576% 0;
  padding: 5% 0;
  background: url('../img/nomobile/credit.png') no-repeat center center;
  background-size: 100%;
}
#outer #inner #content #wrapper .lower .credit img {
  width: 100%;
  height: auto;
}
#outer #inner #content #wrapper .lower .copy {
  float: left;
  max-width: 360px;
  width: 54.545%;
  padding: 12.121% 10% 12.121% 6.667%;
}
#outer #inner #content #wrapper .lower .copy h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 26px;
  font-weight: 300;
  text-shadow: 0 1px #fff;
}
#outer #inner #content #wrapper .lower .copy p {
  line-height: 1.5em;
  text-shadow: 0 1px #fff;
}
@media screen and (max-width: 999px) {
  #outer #inner #content {
    background: none;
    padding: 0;
    box-shadow: 0 5px 3px -3px #dfdfdf;
  }
}
@media screen and (max-width: 690px) {
  html #outer #inner #content #wrapper .lower .credit,
  body #outer #inner #content #wrapper .lower .credit {
    width: 80%;
    max-width: 100%;
    display: block;
    background: url('../img/nomobile/credit-btm.png') no-repeat center top;
    background-size: 100%;
    margin: 0 10%;
    padding-bottom: 40%;
  }
  html #outer #inner #content #wrapper .lower .credit img,
  body #outer #inner #content #wrapper .lower .credit img {
    display: none;
  }
  html #outer #inner #content #wrapper .lower .copy,
  body #outer #inner #content #wrapper .lower .copy {
    width: 80%;
    padding: 0 10% 12.121%;
  }
}
@media screen and (max-width: 479px) {
  html #outer #inner,
  body #outer #inner {
    width: 93.75%;
    max-width: none;
  }
  html #outer #inner #content #wrapper .lower .credit,
  body #outer #inner #content #wrapper .lower .credit {
    width: 80%;
    max-width: 100%;
    display: block;
    background: url('../img/nomobile/credit-btm.png') no-repeat center top;
    background-size: 100%;
    margin: 0 10%;
    padding-bottom: 45%;
  }
  html #outer #inner #content #wrapper .lower .credit img,
  body #outer #inner #content #wrapper .lower .credit img {
    display: none;
  }
  html #outer #inner #content #wrapper .lower .copy,
  body #outer #inner #content #wrapper .lower .copy {
    width: 80%;
    padding: 0 10% 12.121%;
    max-width: none;
  }
}
@media only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 14px;
  }
  html #outer,
  body #outer {
    float: left;
    width: 33%;
    margin: 4%;
  }
  html #outer #inner,
  body #outer #inner {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  html #outer #inner #content #wrapper .lower .copy,
  body #outer #inner #content #wrapper .lower .copy {
    max-width: none;
  }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  
  #outer #inner #content #wrapper .lower .credit {
	  background: url('../img/nomobile/credit@2x.png') no-repeat center center;
	  background-size: 100%;
  }

}

@media only screen and (max-width: 690px) and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 690px) and (-moz-min-device-pixel-ratio: 1.5),
only screen and (max-width: 690px) and (-o-min-device-pixel-ratio: 3/2),
only screen and (max-width: 690px) and (min-device-pixel-ratio: 1.5) {
  
  #outer #inner #content #wrapper .lower .credit {
	  background: url('../img/nomobile/credit-btm@2x.png') no-repeat center top !important;
	  background-size: 100% !important;
  }

}